/* 全局样式 */
html,
body {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh; /* 至少占满整个视口高度 */
}

header,
nav,
section,
footer {
	padding: 20px;
}

/* 导航栏样式 */
nav {
	background-color: #333;
	display: flex;
	justify-content: space-between; /* 元素之间平均分布 */
	align-items: center;
}

nav label {
	color: #fff;
	font-size: 24px;
	cursor: pointer;
}

nav input[type="checkbox"] {
	display: none;
}
/* 导航栏菜单样式 */
nav .menu {
  display: flex;
  flex-direction: row; /* 修改为水平排列 */
  justify-content: space-around; /* 平均分布每个菜单项 */
  align-items: center;
  background-color: #333;
  position: fixed;
  top: 60px;
  left: -100%;
  width: 100%;
  height: calc(100% - 60px);
  padding: 20px;
  transition: all 0.3s ease-in-out;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-size: 20px; /* 调整字体大小 */
  padding: 10px;
  border-radius: 5px; /* 添加圆角 */
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  background-color: #ddd;
  color: #333;
}


nav .active {
	background-color: #555;
}

/* 页脚样式 */
footer {
	margin-top: auto; /* 位于剩余空间的底部 */
	background-color: #ccc;
    text-align: center;
}
